/* Example code from class (most of the styles were determined from a UI toolkit) */
/* * {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    display: flex;
    height: 100;
    padding: 10px;
    text-align: center;
    background-color: #CC444B;
    margin-bottom: 50px;
    color: white;
} */